textarea{overflow:hidden}       
	footer .list .listnews .cell{
		float: left;
	}

	footer .list .listnews .date{
		width: 160px;
	}

	footer .list .listnews .head{
		width: 160px;
	}
	footer .list .listnews .address{
		width: 170px;
		margin-top: -20px;
	}

@media \0screen{
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }

.col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 65%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }

	p{
		margin: 14px 0;
	}
	.input{
		margin-top: 20px;
	}
	.container{
		width: 1200px;
	}
	.header{
		background:url(/images/slide-1.png) no-repeat center 85px;
	}

	.header nav{
		padding-top: 7px;
	}

	.header nav ul:first-child{
		margin-left: -25px;
	}
	.header nav ul:first-child li{
		margin-left: 25px;
		letter-spacing: 2px;
	}

	.header nav ul:nth-child(2){
		padding-top: 23px;
	}
	.header nav ul:nth-child(2) li{
		margin-left: 6px;
	}
	.header nav ul:nth-child(2) li:first-child{
		margin-left: 0;
	}
	.header .item .title{
		width: 545px;
	}
	.header .item .title span{
		padding: 0 20px 0 15px;
	}

	.header .item .text{
		background: #fff;
		padding: 8px 20px 8px 15px;
	}

	.header .logo .social{
		padding-top: 33px;
		padding-left: 5px;
	}

	.header .logo .social a{
		margin-left: 5px;
	}

	.header .contacts p{
		padding-bottom: 24px;
	}

	.events{
		padding-top: 24px;
	}

	aside .col-xs-offset-2{
		margin-left: 0 !important;
	}

	.poll{
		margin-top: 15px;
		padding: 10px 0 15px;
		width: 220px;
	}

	.poll h3, .poll .title{
		padding: 0 10px;
	}

	.poll form{
		padding-left: 10px;
	}

	.poll input[type="submit"]{
		height: 30px;
		margin-top: 10px;
	}
	.main{
		padding-top: 20px;
	}

	.main .listnews-media{
		padding-top: 45px;
	}

	.main .listnews-media .poster{
		padding: 20px 12px 20px 0;
	}

	.audio .dashed{
		padding: 10px;
	}

	.audio .item, .music .item{
		padding-bottom: 7px;
		padding-top: 10px;
	}

	.events .item{
		overflow: hidden;
		
		padding: 23px 0;
		margin-bottom: 10px;	
	}

	.poster .item{
		padding: 23px 0 23px 20px;
		min-height: 140px;

	}
	.poster .pic{
		z-index: 9999;
	}

	.pagination{
		margin: 20px 0;
	}

	.main .pagination a, .main .pagination span{
		line-height: 19px;
		height: 22px;
		margin-right: 1px;
		width: 22px;
	}

	.main .submenu{
		padding-bottom: 30px;
	}

	.main .submenu ul{
		padding-top: 10px;
	}

	.main .riders .box{
		padding: 20px;
	}

	.main .sideContent .downloads{
		margin-top: 20px;
	}

	.main .sideContent .dashed{
		padding-top: 5px;
	}

	.main .sideContent .line{
		padding-top: 20px;
	}

	#contactUs{
		padding-top: 15px;
	}

	footer{
		padding-top: 85px;
	}

	footer .list .listnews{
		padding-left: 20px;
		padding-right: 20px;
	}

	footer .list .listnews .item{
		padding: 22px 0;
	}

	footer .contacts p{
		padding-bottom: 12px;
	}

	footer .menu ul li{
		padding-top: 11px;
	}

	footer .list h3{
		padding: 12px 0;
	}


	#callback, #feedback{
		padding: 15px 0 5px;
		width: 365px;
	}

	#orderGroup{
		margin-top: 30px;
		padding: 15px 0 5px;
	}

	#callback{
		margin-left: -180px;
	}

	#callback h3, #feedback h3, #contactUs h3, #orderGroup h3{
		padding: 4px 25px 8px 10px;
	}

	#callback .bodyWindow, #feedback .bodyWindow, #contactUs .bodyWindow, #orderGroup .bodyWindow{
		padding-left: 12px;
		padding-right: 12px;
	}

	#callback input[type="text"], #feedback input[type="text"], #contactUs input[type="text"], #orderGroup input[type="text"], #callback textarea, #feedback textarea, #contactUs textarea, #orderGroup textarea{
		height: 37px;
		margin-top: 12px;
		padding-left: 38px;
		padding-top: 7px;
		width: 335px;
	}

	#feedback input[type="text"], #contactUs input[type="text"], #orderGroup input[type="text"], #feedback input[type="tel"], #contactUs input[type="tel"], #orderGroup input[type="tel"], #feedback textarea, #contactUs textarea, #orderGroup textarea{
		width: 100%;
	}

	#callback form, #feedback form, #contactUs form, #orderGroup form{
		padding-top: 20px;
	}

	#callback input[type="text"], #feedback input[type="text"], #contactUs input[type="text"], #orderGroup input[type="text"], #callback input[type="tel"], #feedback input[type="tel"], #contactUs input[type="tel"], #orderGroup input[type="tel"], #callback textarea, #feedback textarea, #contactUs textarea, #orderGroup textarea{
		height: 37px;
		margin-top: 12px;
		padding-left: 38px;
	}

	#feedback textarea, #contactUs textarea, #orderGroup textarea{
		height: 130px;
	}


	.copyright{
		padding: 20px 0 15px;
	}

	.breadcrumbs{
		padding: 0 0 21px
	}

	.breadcrumbs li{
		margin-bottom: 12px;
		margin-right: 22px;
	}

	.main .dashed{
		padding: 20px 12px;
	}
	
	.box .dashed h1{
		padding-bottom: 5px;
	}

	img.alignleft{
		margin: 12px 16px 6px 0;
	}

	.socializ{
		margin: 30px 0 110px;
	}

	.main .contacts .addressInfo .dashed{
		height: 393px;
	}

	.main .contacts .addressInfo h3{
		padding-bottom: 30px;
	}

	.main .contacts .addressInfo p{
		margin: 10px 0 30px;
	}

	.main .music .hit{
		margin-top: 30px;
	}

	.main .photos .section span{
		padding-left: 14px;
		padding-right: 14px;
	}

	.main .photos .gallery, .main .photos main{
		padding-top: 20px;
	}

	.main .photos .list.other h3{
		padding-bottom: 5px;
	}

	.main .photos .list .cell span{
		background-color: #d4321c;
		padding-left: 15px;
		padding-right: 10px;
		width: 320px;
		z-index: 9999;
		bottom: 18px;
	}

	.main .photos .list .cell{
		margin-top: 8px;
	}
	
	.main .mainNew{
		margin-bottom: 70px;
	}

	.subscribe{
		margin: 45px auto 10px;
	}

	.main .allNews{
		margin-top: 45px;
	}

	.main .entry .gallery{
		padding-top: 50px;
	}

	.main .allNews .pagination{
		padding-bottom: 25px;
	}
}
